*,::before,::after {margin: 0;box-sizing: border-box; transition: ease all 0.5s}

       a {text-decoration: none;}

       button {cursor: pointer;padding: 0;}
        
       img {vertical-align: bottom;}

       ul {list-style: none;padding: 0;}
       